doctype html
html(lang="ja")
  head
    meta(charset = "utf-8")
    meta(      name = "viewport"
            content = "width=device-width, initial-scale=1, shrink-to-fit=no")
    title WebTraceman
    link(       rel = "stylesheet"
               href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity = "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin = "anonymous")
    script(     src = "https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin = "anonymous")
    script(     src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin = "anonymous")
    script(     src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin = "anonymous")
    script(     src = "script.js"
               type = "text/javascript")

  body
    div.container-fluid(style="background-color:#333333;padding:10px;margin-bottom:10px;")
      //--------------------------------------------------------------------タイトル
      div.container
        div.row
          div.col-xs-12.col-sm-12.col-md-12.col-lg-12
            h1(style="color:#DDDDDD;") WebTraceman
    div.container
      //--------------------------------------------------------------------ファイル入力欄
      div.row
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          div.card.bg-light.mb-3
            div.card-header ファイル入力
            div.card-body
              div.well.well-lg.text-center#inputArea(style="padding:70px;") ドロップエリア(未実装)
            div.card-footer
              button.btn.btn-primary#inputButton( type  = "button") ファイルを選択
      //--------------------------------------------------------------------入力ファイル一覧
      div.row.mb-3
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              div.card.bg-light.mb-3
                div.card-header 読み込んだファイル
                div.card-body
                  table.table.table-condensed
                    thead
                      tr
                        th ファイル名
                        th 種類
                        th 大きさ (横×縦 (px))
                        th ファイルサイズ(byte)
                        th
                    tbody#loadedTable
          div.row
            div.col-xs-12.col-sm-12.col-md-4.col-lg-4
              div.card.bg-light
                //----------------------------------------------------------------プレビュー一覧
                div.card-header 簡易プレビュー
                  span.badge.badge-dark.float-right#badge 0
                div.card-body
                  div#previews(style="overflow-x:hidden;overflow-y:scroll;height:500px;")
            div.col-xs-12.col-sm-12.col-md-8.col-lg-8
              //----------------------------------------------------------------大プレビュー
              div.card.bg-light.mb-3
                div.card-body#editAreaSize
                  canvas.mw-100#editArea
      //------------------------------------------------------------------バッチ処理設定
      div.row
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          h2 バッチ設定
          div.row
            div.col-sm-12
              div.card.bg-light.mb-3.form-horizontal
                form
                  fieldset
                    div.card-header
                      legend 二値化設定
                    div.card-body
                      div.row.form-group
                        div.col-sm-2.text-right
                          label 色
                        div.col-sm-6
                          input#colorBar(type="range"
                                          value="30")
                        div.col-sm-1
                          input.input-sm.form-control#color(type="text"
                                                            value="30")
                      div.row.form-group
                        div.col-sm-2.text-right
                          label 主線
                        div.col-sm-6
                          input#blackBar(type="range"
                                          value="90")
                        div.col-sm-1
                          input.input-sm.form-control#black(type="text"
                                                            value="90")
                      div.row.form-group
                        div.col-sm-2.text-right
                          label 赤色トレス線
                        div.col-sm-6
                          input#redBar(type="range"
                                        value="30")
                        div.col-sm-1
                          input.input-sm.form-control#red(type="text"
                                                          value="30")
                      div.row.form-group
                        div.col-sm-2.text-right
                          label 青色トレス線
                        div.col-sm-6
                          input#blueBar(type="range"
                                        value="30")
                        div.col-sm-1
                          input.input-sm.form-control#blue(type="text"
                                                            value="30")
                      //
                        div.row.form-group
                          div.col-sm-2
                            label オプション
                          div.col-sm-10
                            div.checkbox-inline
                              input(type="checkbox")
                              b GPUで処理(未実装)
                        div.row.form-group
                          div.col-sm-12
                            button.btn.btn-default(type="button") プレビュー
                            button.btn.btn-default(type="button") 初期設定に戻す
          div.row
            div.col-sm-12
              div.card.bg-light.mb-3.form-horizontal
                form
                  fieldset
                    div.card-header
                      legend 保存設定
                    div.card-body
                      div.row.form-group
                        div.col-sm-2.text-right
                          label 出力ファイル名
                        div.col-sm-5
                          input.form-control.input-sm#fileName(type="text"
                                                      placeholder="image_[###].png")
                        div.col-sm-2.text-right
                          label 開始番号
                        div.col-sm-2
                          input.form-control.input-sm#fileStart(type="text"
                                                      placeholder="0")
                      div.row.form-group
                        div.col-sm-7
                          p #の部分が数字になります。
                            br
                            | 例) "output[###].png"とした場合、
                            | 出力されるファイルは"output000.png","output001.png","output002.png"...となります
                        div.col-sm-4
                          p 数字の開始番号です。
                            br
                            | ファイル名を001から始めたい場合には1とする必要があります。
                      div.row.form-group
                        div.col-sm-2
                          label オプション
                        div.col-sm-10
                          //
                            div.checkbox-inline
                              input(type="checkbox")
                              b 1ビットカラー圧縮(未実装)
                          div.checkbox-inline
                            input#transparency(type="checkbox"
                                  checked="checked")
                            b 透明度あり
      div.row
        div.col-xs-12.col-sm-12.col-md-12.col-lg-12
          //--------------------------------------------------------------------出力欄
          h2 ファイル出力
          div.row
            div.col-xs-12.col-sm-12.col-md-12.col-lg-12
              div.panel.panel-default
                div.panel-body
                  button.btn.btn-primary#output( type       = "button"
                                                data-toggle = "modal"
                                                data-target = "#wait") 出力
          div.modal#wait(              tab-index   = "-1"
                                        role        = "dialog")
            div.modal-dialog(role       = "document")
              div.modal-content
                div.modal-header
                  button.close#modalClose( type="button"
                                data-dismiss="modal")
                    span &times;
                  h4.modal-title 出力中
                div.modal-body.text-center
                  div#progress
                  button.btn.btn-danger#cancel(type="button") cancel
                div.modal-footer
                  button.btn.btn-default(  type="button"
                                          data-dismiss="modal") close
    footer.container-fluid(style="background-color:#333333;margin-top:30px;padding:30px;")
      div.row
        div.col-sm-12.text-center
          p(style="color:#EEEEEE;")
            | designed by yuuho
            br
            | twitter : @__yuuho__
            br
            | github :&nbsp;
            a(href="https://github.com/yuuho/") yuuho
